Aritra here, first machine learning project, which basically a copy job. Here, we'll be working with the machine learning data set of titanic and try to predict as accurately as possible who survived. First, we import the dataset.

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))


# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

We now store the training dataset as a pandas dataframe.

In [2]:
train_data=pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data=pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

So, we have a sample submission, gender_submission.csv, which claims that all women survived and all men died. We crosscheck this with the training data by checking actually what percentage of men and women survived.

In [4]:
women=train_data.loc[train_data.Sex=='female']["Survived"]
rate_women=sum(women)/len(women)

print("% of women who survived",rate_women)

% of women who survived 0.7420382165605095

In [5]:
men=train_data.loc[train_data.Sex=='male']["Survived"]
rate_men=sum(men)/len(men)

print("% of men who survived", rate_men)

% of men who survived 0.18890814558058924

We now build a random forest using sckikit learn, where we will primarily be making decisions using the columns "Parch","Pclass","Sex","Sibsp". Since some of this data is not strictly numerical, for example, Sex is male or female and Pclass has letters we use one-hot encoding to convert this to something machine learning models understand, in that. get_dummies function makes say Sex into two columns Sex_male and Sex_female, where male and female columns have 1 or 0. We can often just make one column if its binary or according to our needs to reduce redudancy using drop_first=True in the get dummies function as an extra argument. 

One-hot encoding makes separate columns instead assigning say 1 to male and 0 to female to avoid any assumptions one is valued more than the other, especially for columns with more than one values.

In [6]:
from sklearn.ensemble import RandomForestClassifier

y=train_data["Survived"]
features=["Pclass","Sex","SibSp","Parch"]
X=pd.get_dummies(train_data[features])
X_test=pd.get_dummies(test_data[features])

model=RandomForestClassifier(n_estimators=100,max_depth=5,random_state=1)
model.fit(X,y)
predictions=model.predict(X_test)

output=pd.DataFrame({'PassengerId':test_data.PassengerId,'Survived':predictions})
output.to_csv('submission.csv',index=False)

print("Your submission is succesfully saved")

Your submission is succesfully saved

model is Random Forest Classifier, with a 100 trees, each with max depth 5. Random state=1 refers to the starting seed number so we can reproduce results, we can put 42,720, anything in its place, but without it, we'll get different results everytime and it may be difficult to find mistakes.

We store the predictions in the aptly named variable and make a output pandas dataframe and eventually a csv from it.